@using Niqash.Resources

@{
    ViewBag.Title = ViewsResource.forgotPasswordConfirmation;
}

<div class="forgotPasswordConfirmation">
    <h2>@ViewBag.Title</h2>
    
    <p class="lead">
       @ViewsResource.forgotPasswordConfirmationMsg
    </p>
</div>
