@using Niqash.Resources

@{
    ViewBag.Title = ViewsResource.resetPasswordConfirmation;
}

<div class="resetPasswordConfirmation">
    <h2>@ViewBag.Title</h2>

    <p class="lead">
        @ViewsResource.resetPasswordConfirmationMsg @Html.ActionLink(ViewsResource.login, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
