@model System.Web.Mvc.HandleErrorInfo
@using Niqash.Resources

@{
    ViewBag.Title = ViewsResource.erorr;
}

<div class="error">
    <h2 class="text-danger">@ViewsResource.erorr</h2>
    <p class="lead text-center text-capitalize">
        @ViewsResource.erorrMsg
    </p>
</div>

